<footer class = "footer">
    <span>Created by: Ashley, Yunyi, Ian</span>
    
    <span class="space">Contact us: imintz1@ocdsb.ca</span>
  </footer>
  <!--Footer, to allow the users to know the creators.-->