<header class="main-header">
    <nav class="nav main-nav">
  <button class = "option"><a href = "/" class = "navcss">HOME</a></button>
  <button class="option"><a href="/flashCards" class = "navcss">FLASH CARDS</a></button>
  <button class="option"><a href="/planner" class = "navcss">PLANNER</a></button>
  <button class="option"><a href="/login" class = "navcss">LOGIN</a></button>
  <button class="option"><a href="/logOut" class = "navcss">LOG OUT</a></button>
    </nav>
  </header>
  <!--Navigation Bar to all Webpages-->